body {
  margin: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: space-around;
  margin-top: 42px;
}

nav {
  line-height: 36px;
  align-items: center;
}

#return {
  height: fit-content;
  position: fixed;
  left: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background: #db8876;
  color: black;
  &:hover {
    background: $first-color;
  }
}

button,
.btn-modal,
.filters {
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
  color: $first-color;
  background: none;
  border: 0.5px solid #c4c4c4;
  box-sizing: content-box;
  border-radius: 11px;
  margin: 2px;
  padding: 2px 5px;
  text-decoration: none;
  font-size: 12px;
}

.filters-active {
  color: $fourth-color;
  background: $first-color;
}

#title {
  color: $first-color;
  font-size: 36px;
}

#photographe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.photographerCard {
  margin: 35px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  a {
    text-decoration: none;
    transition: all 400ms;
  }

  a:hover {
    filter: brightness(0.8);
    img {
      transition: all 400ms;
      transform: scale(0.9);
    }
  }
  * {
    text-align: center;
  }

  h2 {
    color: $second-color;
    font-size: 36px;
    line-height: 47px;
  }

  p {
    font-size: 10px;
    line-height: 13px;
    margin: 2px;
  }

  p:first-of-type {
    color: $first-color;
    font-size: 13px;
    line-height: 17px;
  }

  p:last-of-type {
    color: $third-color;
    font-size: 9px;
    line-height: 12px;
  }
}
.filters:hover {
  filter: brightness(0.2);
  transition: all 400ms;
}

.profilpic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hideCard {
  opacity: 0;
  max-width: 0;
  min-width: 0;
  max-height: 0;
  margin: 0;
  z-index: -2;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  * {
    opacity: 0;
    max-width: 0;
    max-height: 0;
  }
}

.hidden {
  display: none;
}
