body {
  width: 90%;
  margin: auto;
}

#photographerHeader {
  justify-content: initial;
}

#profil {
  display: flex;
  justify-content: space-between;
  background-color: $fourth-color;
  border-radius: 5px;
  padding: 25px;
  max-width: 1920px;
}

#description {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-size: 24px;
    line-height: 31px;
    color: $first-color;
  }
  h4 {
    font-size: 18px;
    line-height: 23px;
    color: #525252;
  }
}

#contact {
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 64px;
    line-height: 83px;
    margin-right: 10px;
    color: $second-color;
  }
}
.btn-modal,
select {
  min-width: 170px;
  height: 70px;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  display: block;
  background-color: $first-color;
  color: $fourth-color;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
}

select {
  padding: 15px;
  appearance: none;
  outline: none;
  border: none;
}

#trier {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  width: fit-content;
}

#arrow {
  position: absolute;
  top: 34px;
  right: 25px;
}

.media {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.mediaCard {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 30px;
  cursor: pointer;
}

#photo {
  display: flex;
  flex-wrap: wrap;
}

.photoDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  * {
    color: $first-color;
    font-size: 24px;
    line-height: 31px;
  }
}

.likesCount {
  display: flex;
}

i {
  margin: 0 3px;
}
// MODAL

.hidden {
  display: none;
}

.contact-form {
  background: #db8876;
  padding: 1% 2%;
  border-radius: 5px;
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 64px;
    line-height: 83px;
  }
}

label {
  font-size: 36px;
  line-height: 47px;
}
input,
textarea {
  font-size: 36px;
  line-height: 47px;
}
.text-control {
  width: 600px;
  line-height: 48px;
}
#croix {
  text-decoration: none;
}

#close-modal {
  text-decoration: none;
  background: none;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

.btn-submit {
  @extend .btn-modal;
  border: none;
  margin: 10px 0 20px 0;
}

// CAROUSEL
#container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  img {
    cursor: pointer;
  }
  video {
    max-height: 80%;
    max-width: 80%;
  }
}

#croixviewer,
#flechegauche,
#flechedroite {
  z-index: 999;
  color: red;
  position: fixed;
}

#croixviewer {
  top: 50px;
  right: 50px;
}

#flechegauche {
  top: 50%;
  left: 50px;
}

#flechedroite {
  top: 50%;
  right: 50px;
}

#container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
#viewer {
  display: flex;
  flex-direction: column;
  z-index: 100;
  margin: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  img,
  video {
    max-width: 80vh;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 5px;
  }
  p {
    align-self: flex-start;
    font-size: 24px;
    line-height: 31px;
    color: $first-color;
  }
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 15px;
  background: #db8876;
  border-radius: 5px 5px 0 0;
  width: 370px;
  justify-content: space-around;
  padding: 15px;
  p {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
  }
}
